@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500;700&family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'JetBrains Mono', monospace;
}
:root {
    --darkblue: #120a3b;
    --white:#fff;
    --bege:#d19c4e;
}
body {
    background-color: var(--darkblue);
}
.container {
    max-width: 1092px;
    margin: auto;
    width: 90%;
    padding: 20px 0 40px 0;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a img {
    width: 110px;
    animation: fromTop 1.2s;
}
nav ul {
    display: flex;
    gap: 64px;
}
nav ul li {
    transition: all .1s;
}
nav ul li:nth-child(1) {
    animation: fromTop 1.2s;
}
nav ul li:nth-child(2) {
    animation: fromTop 1.2s .2s backwards;
}
nav ul li:nth-child(3) {
    animation: fromTop 1.2s .4s backwards;
}
nav ul li:hover {
    transform: scale(1.05);
}
nav ul li a {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: var(--white);
}
nav ul li a:hover {
    color: #f7af43;
    text-decoration: underline;
}
main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 0 180px 0 ;
    gap: 77px;
}
main section {
    max-width: 604px;
}
main section h4 {
    color: var(--bege);
    text-align: center;
}
main section h4:nth-child(1) {
    animation: fromBottom 1.2s;
}
main section h1 {
    color: var(--bege);
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
}
main section h1:nth-child(2) {
    animation: fromBottom 1.2s .2s backwards;
}
main section p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: var(--white);
}
main section p:nth-child(3) {
    margin: 50px 0;
    animation: fromBottom 1.2s .4s backwards;
}
main section p:nth-child(4) {
    animation: fromBottom 1.2s .6s backwards;
}
main img {
    width: 400px;
    height: 450px;
    border-radius: 50%;
    border: 4px solid var(--bege);
    transition: all .5s;
    animation: fromRight 1.2s;
}
main img:hover {
    transform: scale(1.05);
}
.pagamento {
    color: var(--darkblue);
    background: var(--white);
    padding: 70px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 100px;
}
.pagamento ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
    gap: 30px;
}
.pagamento li {
    max-width: 200px;
    padding: 50px 30px;
    border: 2px solid var(--bege);
    border-radius: 8px;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pagamento li:hover {
    transform: scale(1.08);
}
.pagamento ul li i {
    font-size: 50px;
}
.line {
    border: 1px solid var(--bege);
    margin: 0 auto 40px auto;
    animation: fromBottom 1.2s;
}
footer h3 {
    color: var(--bege);
    margin-bottom: 20px;
}
footer p {
    color: var(--white);
    line-height: 30px;
    font-weight: 400;
}
footer h3:nth-child(2) {
    animation: fromBottom 1.2s .2s backwards;    
}
footer p:nth-child(3) {
    animation: fromBottom 1.2s .4s backwards;
}
footer p:nth-child(4) {
    animation: fromBottom 1.2s .6s backwards;
}
footer p:nth-child(5) {
    animation: fromBottom 1.2s .8s backwards;
}
footer p:nth-child(6) {
    text-align: center;
    margin-top: 80px;
    color: var(--bege);
    animation: fromBottom 1.2s .9.9s backwards;
}
footer p span,footer a {
    color: var(--bege);
    font-weight: 700;
}
.instagram {
    width: 44px;
    position: fixed;
    bottom: 80px;
    right: 20px;
    transition: all .5s;
}
.instagram:hover {
    transform: scale(1.2);
}
.whatsapp {
    width: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 20px 20px 0;
    transition: all .5s;
}
.whatsapp:hover {
    transform: scale(1.2);
}
@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fromRight {
    from {
        opacity: 0;
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
